/* Rest PassWord */
.rest form label {
    font-size: 14px;
    margin-bottom: 4px;
}

.rest form input {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 16px;
}

.rest form .inputbx {
    margin-bottom: 20px;
    position: relative;

}

.rest form .inputbx i:not(.hide) {
    position: absolute;
    top: 42px;
    left: 10px;
    color: gray;
    font-size: 16px;

}

.rest form .inputbx .hide {
    position: absolute;
    top: 41px;
    right: 10px;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

